name: CI
on:
  push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: npm ci
    - name: Lint Code
      run: npm run lint
    - name: Test Code
      run: npm test
    - name: Build Project
      run: npm run build