name: CI
on:
  push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: npm ci
    - name: Lint Code
      run: npm run lint
    - name: Test Code
      run: npm test
    - name: Build Project
      run: npm run build
  # image:
  #   needs: build
  #   # only on tags and dev branch
  #   if: startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/dev'
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Check out code
  #     uses: actions/checkout@v2
  #   - name: Login to GitHub Container Registry
  #     uses: docker/login-action@v1
  #     with:
  #       registry: ghcr.io
  #       username: cmu-delphi-deploy-machine
  #       password: ${{ secrets.CMU_DELPHI_DEPLOY_MACHINE_PAT }}
  #   - name: Build Image
  #     env:
  #       DEVOPS_DOCKER_FILE: ./Dockerfile
  #     run: |
  #       docker build -t repo --file ${DEVOPS_DOCKER_FILE} .
  #   - name: Resolve Tag
  #     id: tagname
  #     run: |
  #       baseRef="${GITHUB_REF#*/}"
  #       imageTag="${baseRef#*/}"
  #       echo -n "::set-output name=tag::$imageTag"
  #       echo -n "::set-output name=repo::ghcr.io/${{ github.repository }}"
  #   - name: Push Image Tag
  #     run: |
  #       docker tag repo ${{ steps.tagname.outputs.repo }}:${{ steps.tagname.outputs.tag }}
  #       docker push ${{ steps.tagname.outputs.repo }}:${{ steps.tagname.outputs.tag }}
  #   - name: Trigger Webhook
  #     run: |
  #         # trigger a webhook update
  #         curl -H "Authorization: Bearer ${{ secrets.DELPHI_DEPLOY_WEBHOOK_TOKEN }}" \
  #              -X POST ${{ secrets.DELPHI_DEPLOY_WEBHOOK_URL }} \
  #              -H "Content-Type: application/x-www-form-urlencoded" \
  #              -d "repository=${{ steps.tagname.outputs.repo }}&tag=${{ steps.tagname.outputs.tag }}"
  #   - name: Push Latest Tag
  #     if: startsWith(github.ref, 'refs/tags/v')
  #     run: |
  #       docker tag repo ${{ steps.tagname.outputs.repo }}:latest
  #       docker push ${{ steps.tagname.outputs.repo }}:latest
  #   - name: Trigger Latest Webhook
  #     if: startsWith(github.ref, 'refs/tags/v')
  #     run: |
  #         # trigger a webhook update
  #         curl -H "Authorization: Bearer ${{ secrets.DELPHI_DEPLOY_WEBHOOK_TOKEN }}" \
  #              -X POST ${{ secrets.DELPHI_DEPLOY_WEBHOOK_URL }} \
  #              -H "Content-Type: application/x-www-form-urlencoded" \
  #              -d "repository=${{ steps.tagname.outputs.repo }}&tag=latest"
