name: Release Main
on:
  push:
    branches:
    - main

jobs:
  correct_repository:
    runs-on: ubuntu-latest
    steps:
    - name: fail on fork
      if: github.repository_owner != 'sgratzl'
      run: exit 1

  create_release:
    needs: correct_repository
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Extract version
      id: extract_version
      run: node -pe "'::set-output name=version::' + require('./package.json').version"
    - name: Create Release
      id: create_release
      uses: release-drafter/release-drafter@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        version: ${{ steps.extract_version.outputs.version }}
        publish: true
    outputs:
      version: ${{ steps.extract_version.outputs.version }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      tag_name: ${{ steps.create_release.outputs.tag_name }}

  build_assets:
    needs: create_release
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: npm ci
    - name: Build Assets
      run: npm pack
    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ needs.create_release.outputs.upload_url }}
        asset_path: ./name-${{ needs.create_release.outputs.version }}.tgz
        asset_name: name-${{ needs.create_release.outputs.version }}.tgz
        asset_content_type: application/tar+gzip

  sync_dev:
    needs: correct_repository
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
      with:
        ref: dev
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: Reset dev branch
      run: |
        git fetch origin main:main
        git reset --hard main
    - name: Create pull request into dev
      uses: peter-evans/create-pull-request@v3
      with:
        commit-message: "chore: sync main-dev"
        base: dev
        title: "chore: sync main->dev"
        labels: chore
        reviewers: sgratzl
        body: |
            Syncing Main->Dev.
