name: Release Main
on:
  push:
      branches: [ main ]
jobs:
  correct_repository:
    runs-on: ubuntu-latest
    steps:
    - name: fail on fork
      if: github.repository_owner != 'sgratzl'
      run: exit 1

  create_release:
    needs: correct_repository
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Extract version
      id: extract_version
      uses: Saionaro/extract-package-version@v1.1.1
    - name: Create Release
      id: create_release
      uses: release-drafter/release-drafter@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        version: ${{ steps.extract_version.outputs.version }}
        publish: true
    - name: Build
      run: echo TODO
    # - name: Upload Release Asset
    #   id: upload-release-asset
    #   uses: actions/upload-release-asset@v1
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   with:
    #     upload_url: ${{ steps.create_release.outputs.upload_url }}
    #     asset_path: ./my-artifact.zip
    #     asset_name: my-artifact.zip
    #     asset_content_type: application/zip
